/* App base styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
}

.container-fluid {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.img-fluid {
  max-width: 100% !important;
}

.navbar {
  background-color: #0048b5 !important;
}

.navbar-brand img {
  max-width: 80px;
  height: auto;
}
